<span class="navbar">
    <div class="home">
      <%= link_to "Home", root_path %>
    </div>
    <div class="about-contact">
      <span><a href="about">About</a></span>
      <span><a href="contact">Contact</a></span>
    </div>
</span>
