<span class="navbar">
    <div class="home">
      <strong><%= link_to "Home", root_path %></strong>
    </div>
    <div class="about-contact">
      <span><a href="about">About</a></span>
<!--       <span><a href="contact">Contact</a></span> -->
    </div>
</span>
