<html>
<head>
 <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
 <link rel="stylesheet" href="devicon.css">

 <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,700|Cantarell:400,700|Fjalla+One&display=swap" rel="stylesheet">
 <link
 href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
 rel="stylesheet"  type='text/css'>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 <script src="https://kit.fontawesome.com/b90c7f9273.js" crossorigin="anonymous"></script>
 <title>My portfolio</title>
</head>

<body>
  <%= render 'shared/navbar' %>

  <div class="banner">
    <div class="name-role-description">
      <div class="name-role">
        <h2>Agathe Badia</h2>
        <h1 class="title">Junior Developer</h1>
      </div>
      <div class="description-card">
        <p>I am a Junior Developer with a background in tech recruiting. After three years in the HR field and talking with many passionate developers, I decided to become a developer myself!</p>
        <span class="social-media">
          <p>Follow me :)</p>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/agathe-badia/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/Agathebadia" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/Agathe_BADIA" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/agathe.badia/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="circle-picture">
        <%= image_tag "profile-picture2.png", width: 300, height: 300%>
      </div>
    </div>

    <div class="projects">
      <h1>Projects</h1>
    </div>

    <div class="container">
      <!-- Post slider -->
      <div class="post-slider">

        <div class="post-wrapper">

          <div class="post">
            <h3>OJA</h3>
            <p>Final project</p>
          </div>


        <div class="post">
          <h3>Tooli</h3>
          <p>One week project</p>
        </div>


        <div class="post">
          <h3>Miss Cocktail</h3>
          <p>Upload pictures and add new cocktail recipes! - One day project</p>
        </div>


        <div class="post">
          <p>New projects to come!</p>
        </div>
      </div>
    </div>
    </div>


    <%= render 'shared/footer' %>

    <!-- Slick carousel -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </body>
  </html>
