<html>
<head>
  <link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>My portfolio</title>
</head>

</html>

<%= render 'shared/navbar' %>

<div class="banner">
  <div class="name-role-description">
    <div class="name-role">
      <h2>Agathe Badia</h2>
      <h1 class="title">Junior Developer</h1>
    </div>
    <div class="description-card">
      <p>INSERT DESCRIPTION HERE INSERT DESCRIPTION HERE INSERT DESCRIPTION HERE INSERT DESCRIPTION HERE INSERT DESCRIPTION HERE INSERT DESCRIPTION HERE INSERT DESCRIPTION HERE</p>
      <span class="social-media"><p>Follow me - Social media links</p>
      </div>
    </div>
    <div class="circle-picture">
      <img alt="Profile picture of Agathe">
    </div>
</div>

  <div class="projects">
    <h1>Projects</h1>
  </div>

  <div class="container">
    <div class="cards">
      <div class="card">
        <div class="oja">

        </div>
      </div>
      <div class="card">
        <div class="tooli">

        </div>
      </div>
      <div class="card">
        <div class="miss-cocktail">

        </div>
      </div>
      <div class="card">
        New projects to come!
      </div>
    </div>
  </div>

  <%= render 'shared/footer' %>
