<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>My portfolio</title>
</head>

</html>

<%= render 'shared/navbar' %>

<div class="banner">
  <div class="name-role-description">
    <h2>Agathe Badia</h2>
    <h1>Junior Developer</h1>
    <p>INSERT DESCRIPTION HERE</p>
    <span class="social-media">Follow me - Social media links</span>
  </div>
  <div class="circled-picture">
    <img alt="Profile picture of Agathe">
  </div>
</div>
