.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .skill {
    text-align: center;
    max-width: 350px;
    max-height: 125px;
    margin: 10px 20px 10px 20px;

    p {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }


    .sub-text {
      visibility: hidden;
    }
  }
}
