p {
font-family: 'Cantarell', sans-serif;
}

h1, h2, h3 {
font-family: 'Fjalla One', sans-serif !important;
}

.projects {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  text-shadow: 3px 3px 3px #f9e0db;
}
.container {

  .post-slider {
    position: relative;

    .next {
      position: absolute;
      top: 50%;
      right: 30px;
      font-size: 2em;
      color: #F9E0DB;
      cursor: pointer;
    }

    .prev {
      position: absolute;
      top: 50%;
      left: 30px;
      font-size: 2em;
      color: #F9E0DB;
      cursor: pointer;
    }

    .post-wrapper {
      border: 1px dashed red;
      width: 84%;
      max-height: 350px;
      margin: 0px auto;
      overflow: hidden;
      padding: 10px 0 10px 0;

    .post {
      display: inline-block;
      background-color: white;
      max-width: 400px;
      max-height: 300px;
      margin: 0px 10px;
      border-radius: 4px;
      object-fit: cover;
      box-shadow: 1rem 1rem 1rem
      }

      .post-info {

      }

      .slider-image img {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

      }
    }

  }
  }



  .social-media {
    display: flex;
    justify-content: space-around;
    p {
      color: #333333;
      padding: 8px 8px 2px 8px;
      font-size: 15px;
    }
    .social-links {
      i {
    color: #333333;
    padding: 8px 8px 2px 8px;
    font-size: 20px;

    &:hover {
    color: #f7a799;
    }
  }
    }
  }
