p {
font-family: 'Cantarell', sans-serif;
}

h1, h2, h3 {
font-family: 'Fjalla One', sans-serif !important;
}

.projects {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  text-shadow: 3px 3px 3px #f9e0db;
}
.container {

  .post-slider {
    border: 1px solid red;

    .post-wrapper {
      border: 1px dashed red;
      width: 84%;
      max-height: 350px;
      margin: 0px auto;
      overflow: hidden;

    .post {
      display: inline-block;
      background-color: #2f9fef;
      width: 300px;
      height: 350px;
      margin: 0px 10px;
      }
    }
  }
  }



  .social-media {
    display: flex;
    justify-content: space-around;
    p {
      color: #333333;
      padding: 8px 8px 2px 8px;
      font-size: 15px;
    }
    .social-links {
      i {
    color: #333333;
    padding: 8px 8px 2px 8px;
    font-size: 20px;

    &:hover {
    color: #f7a799;
    }
  }
    }
  }
